<h1> Welcome to the first page </h1>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
​
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
​
<%= render partial: 'blog' %>


<h2><%#= link_to "Product Images", new_product_image_path %></h2> </tr>
<h2><%= link_to "Idproof", new_idproof_path %></h2> </tr>
<h2><%= link_to "Category", new_category_path %></h2> </tr>
<h2>Products</h2>

<ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to product.name, product %>
    </li>
</ul>
<% end %>
<%= link_to "New Product", new_product_path %>
